<div class="bigcontainer">
    
    <div class="left-main">

        <div style="position:relative;margin-top:2%;margin-left:10%;height:80%;width:80%;border:1px dashed black" id="leftcontainer">

            <div class="menu">
                <ul>
                    <li>Item1</li>
                    <li>Item2</li>
                    <li>Item3</li>
                    <li>Item4</li>
                    <li>Item5</li>
                    <li>Item6</li>
                    <li>Item7</li>
                    <li>Item8</li>
                    <li>Item9</li>
                    <li>Item10</li>
                </ul>
            </div>
        
        
            <div class="container">
                <form action="#">
                    <div class="form-control">
                        <input type="text" required />
                        <label for="#">Name</label>
                    </div>
            
                    <div class="form-control">
                        <input type="text" required />
                        <label for="#">Surename</label>
                    </div>
                    <div class="form-control">
                        <input type="text" required />
                        <label for="#">Subject</label>
                    </div>
                    <div class="form-control">
                        <input type="text" required />
                        <label for="#">Suggestion</label>
                    </div>
                    <div class="form-control">
                        <input type="submit" class="bluebutton" value="Send" required />
                        <input type="reset" class="bluebutton" value="reset" required />
                    </div>

                    
                </form>
            </div>
        </div>
       
    </div>

    <div class="sidebar">
        <ul>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
        </ul>
    </div>

</div>
